body {
    background-color: #f7f7f7;
}

.header {
    padding-top: 14px;
    padding-bottom: 22px;
    padding-left: 6%;
    background-color: white;
    border-radius: 2px;
    box-shadow: 2px 2px 5px #d9d9d9;
}

.content {
    width: 94%;
    margin: 0 auto;
}

.footer {
    height: 100px;
    background-color: white;
    border-radius: 2px;
    margin-bottom: 0px;
}

a {
    font-size: 16px;
    color: black;
    text-decoration: none;
}

a:hover, a:visited, a:active {
    color: #afd9ee;
    text-decoration: underline;
}

textarea {
    border-color: #d9d9d9;
}

blockquote {
    font-size: 14px;
    padding: 0px 10px;
}

.blog-cont {
    margin: 20px 10px;
    min-height: 500px;
    height: 100%;
}

.blog-left, .blog-right {
    float: left;
    display: inline;
    background-color: white;
    border-radius: 2px;
    box-shadow: 2px 2px 5px #d9d9d9;
}

.blog-left {
    height: 100%;
    width: 72%;
    padding: 20px 4%;
    margin-right: 3%;
}

.blog-left .bcomment {
    width: 100%;
}

.each-comment {
    padding: 10px;
}

.each-comment-left {
    width: 8%;
    margin-right: 4%;
}

.each-comment-right {
    width: 88%;
}

.each-comment-right .comment-cont {
    color: #3c3c3c;
}

.each-comment-right p small {
    margin-left: 10px;
    color: #ccc;
}

.comment-time {
    color: #c0c0c0;
}

.d-last-bc {
    float: right;
    font-size: 12px;
    color: grey;
}

#get-msg {
    font-size: 12px;
}

#get-btn {
    font-size: 12px;
}

.blog-left textarea {
    resize: none;
    width: 100%;
}

.blog-right {
    height: 100%;
    width: 25%;
    padding: 20px 2%;
    border-left: 1px solid #fcfcfc;
}

.blog-right a {
    font-size: 14px;
}

.footer .link {
    margin: 40px 120px;
    font-size: 12px;
    color: grey;
}

.footer .link a {
    font-size: 12px;
    color: grey;
}

.footer small {
    margin-top: 80px;
}