body, html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #515151;
    background-color: #f7f7f7;
    height: 100%;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
}

.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -100px;
}

.white-bg {
    background: #fff;
}

.mbody {
    margin: 20px auto;
    background: white;
    width: 84%;
    padding: 20px 2%;
}

.message-tip {
    background: #e9f5ff;
    width: 100%;
    color: #72b2e5;
    padding: 10px 4%;
    border: solid #72b2e5 1px;
    border-radius: 4px;
}

.lable-tip {
    margin-top: 14px;
    margin-bottom: 20px;
    font-size: 15px;
}

.search-tip {
    margin: 0;
    padding: 30px 4% 10px 4%;
    text-align: left;
}

.search-tip .s-sort a {
    font-size: 12px;
}

.search-tip a:hover {
    color: #00a2d4;
}

.search-tip a, .search-tip a:hover {
    padding: 8px;
}

.search-tip .active {
    color: #00b7ee;
    background: #C6E2FF;
}

.btn-submit {
    margin-top: 30px;
}

.intro-group {
    width: 80%;
}

.d-last {
    text-align: right;
    font-size: 10px;
    color: #B1B1B1;
    display: none;
}

.btn-like-reward {
    margin: 0px auto;
    padding: 20px 0px;
    width: 40%;
    height: 120px;
    text-align: center;
    font-size: 12px;
}

.btn-like, .btn-reward {
    float: left;
    display: inline;
    font-size: 20px;
}

.or-tip {
    margin-top: 15px;
    margin-left: 4%;
}

.content {
    padding-bottom: 100px;
}

input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
}

a, a:hover, a:visited, a:focus {
    text-decoration: none;
    outline: none;
    color: #515151;
}

.top-menu {
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    height: 80px;
    margin: 0;
    padding: 0;
}

.top-menu .container, .menu, .menu li {
    height: 80px;
}

.menu li {
    padding: 8px;
    border: none;
}

.menu .active, .menu li:hover {
    color: #1782d9 !important;
    border-bottom: 5px #1782d9 solid;
    line-height: 75px;
}

.menu li a, .menu li a:hover {
    margin-top: 6px;
    background-color: white;
    font-size: 15px;
}

.top-search {
    width: 25%;
    position: relative;
    margin-top: 22px;
    margin-left: 2%;
}

.top-search input {
    border-radius: 20px;
    padding-right: 18px !important;
    padding-top: .4em;
    padding-bottom: .4em;
    border: 1px solid #f6f6f6;
    background-color: #f6f6f6;
    font-size: 13px;
    font-weight: 100;
    text-align: left;
    line-height: 1.2142em;
}

.search-icon {
    position: absolute;
    right: 4%;
    top: 8px;
    color: gray;
}

.search-icon:hover {
    color: #3c3c3c;
}

.menu-func {
    margin-top: 26px;
}

.login, .login:hover, .login:visited {
    padding: 5px 15px;
    color: #fff;
    background-color: #37a1f9;
    border: none;
    border-radius: 20px;
}

.register, .register:hover, .register:visited {
    padding: 5px 15px;
    background-color: #fff;
    border: none;
    border-radius: 20px;
}

.modal-backdrop {
    z-index: 1000;
}

.login-model .input-group {
    margin-bottom: 16px;
}

.login-model .modal-header, .login-model .modal-footer {
    margin: 0;
    padding-bottom: 4px;
    border: none;
}

.login-model .modal-header .close {
    position: absolute;
    right: -20px;
    top: -20px;
    color: #fff;
}

.login-model .modal-content {
    margin-top: 140px;
    padding: 20px 80px;
    padding-bottom: 0;
    width: 90%;
}

.login-model .modal-footer button {
    margin-top: 4px;
    background-color: #2481e4;
}

.login-model .notice {
    margin-top: 8px;
}

.login-model .notice a, .login-model .notice a:hover {
    margin-top: 8px;
    color: #009fda;
}

.reward-model .modal-content {
    margin-top: 160px;
    padding: 2px 4px;
    padding-bottom: 0;
    width: 90%;
    opacity: 0.9;
}

.reward-model .modal-content hr {
    margin: 0;
    padding: 0;
}

.reward-model .modal-body {
    padding-top: 30px;
}

.reward-model .modal-body .reward-bg {
    background: #009fda;
    border-radius: 4px;
}

.reward-model .modal-content .modal-body span {
    margin: 4px 1%;
    padding: 8px 3%;
    text-align: center;
    border: 1px solid #009fda;
    cursor: pointer;
}

.reward-model .modal-footer .btn-group {
    width: 66%;
    text-align: center;
    margin: 0 auto;
}

.reward-model .modal-footer .btn-reward {
    margin: 4px auto;
    font-size: 14px;
    width: 100px;
    background-color: #009fda;
    float: left;
    display: inline;
}

.reward-model .modal-footer a, .reward-model .modal-footer a:hover {
    margin-top: 14px;
    margin-left: 20px;
    color: #009fda;
    float: left;
    display: inline;
    text-decoration: solid;
}

.reward-model .modal-content .modal-body span input {
    -webkit-appearance: none;
}

.vip-choose .vip-bg {
    background: #009fda;
    color: white;
    border-radius: 4px;
}

.vip-choose .vip-click, .vip-choose .rec-click {
    margin: 4px 1%;
    padding: 8px 4%;
    text-align: center;
    float: left;
    display: inline;
    border: 1px solid #009fda;
    cursor: pointer;
}

.vip-choose .btn-vip {
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    width: 180px;
}

.vip-choose .btn-vip a {
    font-size: 14px;
    width: 180px;
}

.vip-choose input {
    -webkit-appearance: none;
}

.upvip-model {
    margin: 0 auto;
}

.upvip {
    margin: 0 auto;
}

.pay-cont {
    text-align: center;
}

.pay-code {
    width: 50%;
    float: left;
    display: inline;
}

.pay-code img {
    width: 90%;
}

.top-banner {
    margin-top: 80px;
}

.top-banner h1 {
    font-weight: 400;
}

.index-tip h3 {
    font-size: 22px;
    color: #6a6e75;
    text-align: center;
}

.inner-tip {
    font-size: 2.4em;
}

.inner-tip-mobile {
    line-height: 1em;
    font-size: 1.2em;
}

.white-tip {
    padding: 20px;
    color: black;
    background: white;
}

.grey-tip {
    padding: 20px;
    color: black;
    background: #f7f7f7;
}

.tip-bot-line {
    margin: 0 auto;
    padding: 0;
    width: 40px;
    border-top: black 2px solid;
}

.tip-show {
    color: #2b2f3c;
    margin-top: 30px;
    line-height: 30px;
}

.pro-tip {
    margin-top: 30px;
}

.pro-up, .pro-up:hover, .pro-up:visited {
    color: #fff;
    font-size: 20px;
    line-height: 56px;
    width: 190px;
    height: 56px;
    padding: 14px 40px;
    border-radius: 50px;
    background: #37a1f9;
    border: none;
}

.footer {
    color: white;
    text-align: right;
    font-size: 12px;
    font-weight: lighter;
    padding: 40px;
    height: 100px;
    background: #2b2f3c;
    width: 100%;
}

.register-form {
    margin: 0 auto;
    padding: 10px;
    width: 40%;
}

.register-form table tr td {
    border: none;
}

.register-form .reg-btn {
    width: 40%;
    text-align: center;
}

.register-form .reg-lable {
    text-align: right;
    padding-right: 4%;
    vertical-align: middle;
}

.error-warning {
    color: red;;
    font-size: 12px;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
/ / remove the gap so it doesn 't close
}

.dropdown-menu {
    text-align: center;
    min-width: 140px;
    opacity: 0.95;
}

.dropdown-menu hr {
    margin: 4px 0;
}

.dropdown-menu li {
    height: 35px;
    padding-top: 4px;
}

.dropdown-menu li a:hover, .dropdown-menu li a:visited {
    background-color: #fff;
}

.dropdown-menu li a span {
    float: left;

}

.my-account {
    margin: 0 auto;
    margin-top: 20px;
    padding: 40px;
    width: 50%;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 2px 2px 5px #d9d9d9;
}

.my-account-lg {
    margin: 0 auto;
    margin-top: 20px;
    padding: 40px;
    width: 100%;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 2px 2px 5px #d9d9d9;
}

.my-account img {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.my-account .pro-tip {
    width: 45%;
    margin: 0 auto;
}

.my-account b, .my-account span {
    margin: 4px 4%;
}

.grey-deeper-tip {
    padding: 20px 4%;
    color: black;
    background: #f7f7f7;
}

.noside {
    margin: 0 auto;
    padding: 10px 4%;
    border-radius: 2px;
    box-shadow: 2px 2px 5px #d9d9d9;
}

.noside-tip {
    margin-bottom: 20px;
}

.noside-tip h4 {
    color: #2481e4;
    width: 100%;
    border-bottom: 1px solid #2481e4;
}

.down-file {
    padding: 10px 40px;
    margin-top: 20px;
    border-radius: 2px;
    box-shadow: 2px 2px 5px #d9d9d9;
}

.down-file a {
    color: white;
}

.share-btn-list {
    margin-top: 20px;
    padding: 20px 4%;
    border-radius: 2px;
    box-shadow: 2px 2px 5px #d9d9d9;
}

.comment-list {
    border-radius: 2px;
    box-shadow: 2px 2px 5px #d9d9d9;
}

.comment-list h5 {
    padding: 14px 10px;
    background: #fcfcfc;
    width: 100%;
    border-radius: 1px;
    box-shadow: 1px 1px 1px #d9d9d9;
}

.two-side {
    width: 100%;
    margin: 0;
    margin-top: 16px;
}

.side-right {
    float: left;
    display: inline;
}

.side-left {
    float: left;
    display: inline;
    border-radius: 2px;
}

.side-left {
    width: 18%;
    padding: 0px 4px;
    margin-right: 4%;
}

.side-left li {
    text-align: left;
    font-size: 14px;
    padding: 0;
    margin-bottom: 10px;
}

.side-left li a {
    padding: 10px;
    overflow: hidden;
    border-radius: 4px;
}

.side-left .active, .side-left li a:hover {
    border: 1px solid #c7ddef;
    color: #098ddf;
    background-color: white;
}

.side-left span {
    float: left;
    margin-right: 14px;
    margin-left: 10px;
}

.side-right {
    width: 78%;
}

.side-right h5 {
    font-size: 15px;
}

.side-right label {
    float: left;
    margin-right: 10px;
    margin-top: 6px;
}

.side-right input {
    width: 30%;
}

.side-right b {
    margin-right: 10px;
}

.side-right hr {
    margin-top: 0;
    padding-top: 0;
}

.side-right button {
    margin-top: 20px;
}

.img-pre {
    margin-left: 10%;
}

.img-pre span {
    margin-top: 90px;
    font-weight: bold;
}

.img-pre img {
    height: 200px;
    width: 200px;
}

.grey-tip {
    max-height: 100%;
}

.error-tip h5, .error-tip p {
    text-align: center;
}

.showpro-top {
    position: fixed;
    top: 82px;
    padding-top: 20px;
    width: 100%;
    z-index: 1;
    background-color: #fff;
    padding-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    text-align: center;
}

.pro-up-sm, .pro-up-sm:hover, .pro-up-sm:visited, .pro-up-sm:active {
    display: inline-block;
    width: 110px;
    height: 30px;
    font-weight: inherit;
    background-color: #258fe7;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

.profile-left {
    text-align: center;
    color: #515151;
}

.profile-left .active {
    background: #fff;
}

.profile-left p, .profile-left a {
    margin-top: 20px;
    font-size: 18px;
}

.user-bot-tip small {
    font-size: 12px;
    text-align: center;
    color: #258fe7;
}

.user-bot-tip b {
    padding: 4px;
}

.note-toolbar, .panel-heading {
    padding: 0;
}

.note-btn-group {
    margin: 0;
}

/** ajax file upload */
.file-up .form {
    width: 100%;
    margin: auto;
    padding: 20px 50px;
    border: 1px solid #0091f2;
    border-radius: 10px;
    display: block;
}

.file-up input {
    font-size: 24px;
    margin: 10px;
}

.file-up .clear {
    clear: both;
}

.file-up .speed_box {
    width: 100%;
    height: 20px;
    display: none;
    border: 1px solid #0091f2;
    border-radius: 10px;
    overflow: hidden;
}

.file-up #file_box {
    min-width: 100%;
    min-height: 300px;
    border: 1px solid #0091f2;
    border-radius: 10px;
    display: inline-block;
    background: #EEE;
    overflow: hidden;
    z-index: 999999;
}

.file-up #speed {
    width: 0;
    height: 100%;
    background: #0091f2;
    color: white;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
}

.file-up #file_size, #file_type {
    display: inline-block;
    padding: 0px 16px;
    font-size: 16px;
    color: #0091f2;
    font-weight: bold;
}

.file-up #file_type {
    margin-top: 30px;
}

.file-up .opts_btn {
    position: relative;
    display: inline-block;
    padding: 8px 16px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    background: #0091f2;
    border: 2px solid #0091f2;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
}

.file-up .oFile {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0px;
    left: 0px;
    opacity: 0;
}

.file-up .send_btn {
    display: inline-block;
    display: none;
    float: right;
    margin-top: 20px;
    padding: 8px 16px;
    font-size: 16px;
    color: white;
    background: #0091f2;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
}

.pro-list {
    color: #333;
    height: 210px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.pro-list .pro-user {
    text-align: center;
}

.pro-list img {
    margin-top: 40px;
    margin-bottom: 10px;
}

.pro-list .pro-info {
    padding-top: 30px;
}

.pro-list .pro-info hr {
    margin: 0;
    padding: 0;
}

.pro-list .pro-info-left, .pro-list .pro-info-right {
    float: left;
    display: inline;
}

.pro-info-right a, .pro-info-right a:hover, .pro-info-right a:visited {
    color: #fff;
    font-weight: bold;
    background: #009bfd;
    margin-right: 40px;
}

.pro-list .pro-info-left {
    padding-top: 20px;
}

.pro-list .pull-left small {
    font-size: 12px;
    color: #00a2d4;
}

.pro-list .intro small {
    font-size: 12px;
}

.pro-list .pro-info-left .intro {
    color: #8c8c8c;
}

.pro-list .pro-info-left .intro a {
    color: #8c8c8c;
}

.pro-list .pro-info-left .intro a:hover {
    color: #2b2f3c;
}

.pro-list .pro-mid-hr {
    vertical-align: middle;
}

.pro-list .vertical-border {
    border-left: 1px solid #ccc;
    height: 70%;
}

.pro-list .pro-info h4 {
    font-size: 20px;
}

.pro-list .pro-info h4 a:hover {
    color: #009fda;
}

.pro-list .pro-more {
    vertical-align: middle;
}

.send-comment {
    padding: 10px 20px;
    width: 100%;
}

.send-comment textarea {
    width: 100%;
    border: 1px inset #f7f7f7;
}

.com-list {
    padding: 0;
}

.com-list hr {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.each-comment {
    padding: 10px;
}

.each-comment-left {
    width: 8%;
    margin-right: 4%;
}

.each-comment-right {
    width: 88%;
}

.each-comment-right .comment-cont {
    color: #3c3c3c;
}

.each-comment-right p small {
    margin-left: 10px;
    color: #ccc;
}

.comment-time {
    color: #c0c0c0;
}

.show-img {
    width: 100%;
    max-width: 100%;
    height: 400px;
    display: block;
}

.acc-top-upvip {
    height: 160px;
    padding: 20px 6%;
    background-color: white;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.acc-top {
    height: 120px;
    padding: 20px 6%;
    background-color: white;
    width: 100%;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.acc-top-left, .acc-top-right {
    display: inline;
}

.acc-top-left {
    float: left;
}

.acc-top-right {
    margin-top: 20px;
    float: right;
}

.acc-top-left p {
    font-weight: 300;
}

.acc-top-right .btn {
    width: 120px;
}

.acc-top-right a {
    color: white;
}

.acc-top-left h1 {
    margin: 0px;
}

.acc-mid {
    margin-top: 20px;
}

.acc-mid h3 {
    margin-bottom: 0;
}

.acc-header {
    height: 180px;
    width: 100%;
    padding: 60px 30px;
    background: url("../../../public/img/banner.png") no-repeat white;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.middle-info {
    width: 100%;
}

.user-avatar {
    width: 30%;
}

.user-info {
    width: 70%;
}

.user-set {
    float: right;
    margin-right: 20px;
}

.user-set a {
    font-size: 16px;
    border: 1px solid white;
    color: white;
    padding: 6px;
    border-radius: 50%;
    opacity: 0.6;
}

.user-set a:hover {
    border: 1px solid red;
    background-color: red;
    padding: 6px;
    border-radius: 50%;
    opacity: 0.9;
}

.user-avatar img {
    width: 100px;
    height: 100px;
    vertical-align: top;
    border: 3px solid #fff;
    border-radius: 50%;
    float: left;
    display: inline;
}

.user-info {
    float: left;
    display: inline;
    padding: 0;
    margin-left: 30px;
    vertical-align: top;
}

.user-info h3 {
    margin-top: 8px;
    color: white;
    font-size: 24px;
}

.user-info p {
    margin-top: 40px;
    color: gray;
}

.acc-middle {
    margin-top: 20px;
    height: 160px;
    width: 100%;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.user-e, .user-p, .user-d, .user-r {
    float: left;
    display: inline;
    width: 25%;
    padding: 20px;
    border-right: 1px solid #f7f7f7;
}

.acc-middle h4 span {
    margin-right: 6px;
}

.acc-middle .user-e h4 span {
    color: #ffa100;
}

.acc-middle .user-p h4 span {
    color: #6699ff;
}

.acc-middle .user-d h4 span {
    color: #6dbfff;
}

.acc-middle .user-r h4 span {
    color: #e4b9c0;
}

.acc-middle b {
    font-size: 26px;
    font-weight: 600;
    display: inline-block;
    overflow: hidden;
    max-width: 102px;
    margin: 0 6px 0 0;
    vertical-align: -.4ex;
    white-space: nowrap;
    text-overflow: ellipsis
}

.acc-middle h4 {
    font-size: 15px;
}

.acc-middle a {
    color: #009fda;
}

.acc-nav {
    color: grey;
}

.acc-set-middle {
    margin-top: 20px;
}

.acc-set-middle .nav-tabs {
    background-color: #fcfcfa;
    border: 1px solid #ddd;
}

.acc-set-middle .nav-tabs .active a {
    color: black;
    font-weight: bolder;
}

.acc-set-middle .nav-tabs a {
    padding: 12px 0px;
    color: grey;
}

.acc-set-middle .nav-tabs li {
    width: 16%;
    text-align: center;
}

.acc-set-middle .tab-content {
    border: 1px solid #ddd;
    border-top: none;
    background-color: white;
    padding: 30px 0px;
    color: grey;
}

.acc-set-middle .tab-content input {
    padding: 4px 10px;
    color: grey;
}

.acc-set-middle .tab-content table tr td {
    border: 0px solid transparent !important;
    height: 50px;
}

.acc-set-middle .tab-content .set-sex input {
    width: 20px;
}

.acc-set-middle .tab-content .set-email input {
    width: 40%;
}

.acc-set-middle .tab-content .set-lable {
    text-align: right;
    padding-right: 5%;
    width: 20%;
    vertical-align: middle;
}

.acc-set-middle .intro {
    width: 60%;
}

.acc-set-middle .d-last-intro {
    width: 60%;
}

.acc-set-middle .set-btn {
    width: 120px;
    padding: 20px;
    border: none;
    color: #ffffff;
    background-color: #009fda;
}

.acc-set-middle .set-btn:hover {
    background-color: #6699ff;
}

.acc-set-middle .set-intro textarea {
    color: grey;
}

.acc-set-middle .add-select {
    border: solid 1px grey;
    border-radius: 1px;
    font-weight: 300;
    color: grey;
    padding: 4px 10px;
    /*很关键：将默认的select选择框样式清除*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    /*在选择框的最右侧中间显示小箭头图片*/
    background: url("../../../public/img/arrow.png") no-repeat scroll right center transparent;

    /*为下拉小箭头留出一点位置，避免被文字覆盖*/
    padding-right: 14px;
}

.ibox-content {
    margin: 20px;
}

.pri-cont {
    margin: 0 auto;
}

.pri-cont .btn-pri {
    width: 120px;
    padding: 20px;
    border: none;
    color: #ffffff;
    background-color: #009fda;
}

.pri-cont .btn-pri:hover {
    background-color: #6699ff;
}

.pri-cont .set-pri input {
    width: 20px;
}

.pri-cont .set-lable {
    text-align: right;
    padding-right: 5%;
    width: 10%;
    vertical-align: middle;
}

.acc-pro-nav h3 {
    margin: 0;
    padding: 0;
    color: #3f3c43;
    font-size: 24px;
}

.tab-content-pro {
    border: 1px solid #ddd;
    border-top: none;
    background-color: white;
    padding: 30px 0px;
    color: grey;
}

.tab-content-pro .table tr {
    border-bottom: 1px solid #e0deda;
}

.tab-content-pro .table tr th, .tab-content-pro .table tr td {
    font-size: 12px;
    color: grey;
    text-align: center;
    vertical-align: middle;
}

.show-page {
    text-align: center;
}